<div class="page-header">
  <h1>Add an ingredient</h1>
</div>

<% if flash['message'].nil? and flash['entry'] == true %>
    <% each = Ingredient.last %>
    <h2>Added <%= each.name %></h2>
    serving type - <%= each.serving_type %>,
    serving size - <%= each.serving_size %> <%= each.serving_type %>,
    proteins - <%= each.prots %> g,
    carbs - <%= each.carbs %> g,
    fats - <%= each.fats %> g,
    cals - <%= each.cals %>
<% elsif not flash['message'].blank? %>
    <div class="alert alert-danger">
      <%= flash['message'] %>
    </div>
<% end %>

<%= form_for daily_food_planner_enter_path, method: 'POST' do %>

    <div class="panel panel-primary" style="text-align: center; width: 95%; margin-left: 1em">
      <div class="panel-heading">Ingregient</div>

      <div class="panel-body" style="text-align: left">

        <div class="input-group" style="width: ">
          <span class="input-group-addon" id="basic-addon1">Ingredient title</span>
          <input type="text" name="name" class="form-control" placeholder="i.e New York steak" aria-describedby="basic-addon1">
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Serving units </span>
          <input type="text" name="serving_type" class="form-control" placeholder="i.e. g, ml, lbs, tbs, scoop etc" aria-describedby="basic-addon1">
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Serving size</span>
          <input type="text" name="serving_size" class="form-control" placeholder="i.e 1" aria-describedby="basic-addon1">
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Proteins</span>
          <input type="text" name="prots" class="form-control" placeholder="i.e 25" aria-describedby="basic-addon1">
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Carbs</span>
          <input type="text" name="carbs" class="form-control" placeholder="i.e 45" aria-describedby="basic-addon1">
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Fats</span>
          <input type="text" name="fats" class="form-control" placeholder="i.e 5" aria-describedby="basic-addon1">
        </div>
        <br>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Calories</span>
          <input type="text" name="cals" class="form-control" placeholder="i.e 45" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>

    <span style="position: absolute; left: 5%">
        <%= submit_tag 'Submit', id: 'submit', class: "btn btn-primary btn-lg" %>
    </span>

    <span style="position: absolute; right: 5%">
        <%= submit_tag 'Delete last entry', id: 'delete_record', class: "btn btn-primary btn-lg" %>
    </span>

<% end %>