<h1 style="text-align: center">Add an ingredient to database</h1>
<% if flash['message'].nil? and flash['entry'] == true %>
    <% each = Ingredient.last %>
    <h2>Added <%= each.name %></h2>
    serving type - <%= each.serving_type %>,
    serving size - <%= each.serving_size %> <%= each.serving_type %>,
    proteins - <%= each.prots %> g,
    carbs - <%= each.carbs %> g,
    fats - <%= each.fats %> g,
    cals - <%= each.cals %>
<% else %>
    <%= flash['message'] %>
<% end %>

<%= form_for daily_food_planner_enter_path, method: 'POST' do %>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="row">
      <section>
        <%= label_tag :name, 'Ingredient title ' %>
        <%= text_field_tag :name %>
      </section>

      <section>
        <%= label_tag :serving_type, 'Serving units (g, ml, tbs, etc)' %>
        <%= text_field_tag :serving_type, 'g' %>
      </section>

      <section>
        <%= label_tag :serving_size, 'Serving size ' %>
        <%= text_field_tag :serving_size, '113' %>
      </section>

      <section>
        <%= label_tag :prots, 'Proteins' %>
        <%= text_field_tag :prots, '0' %>
      </section>

      <section>
        <%= label_tag :carbs, 'Carbs' %>
        <%= text_field_tag :carbs, '0' %>
      </section>

      <section>
        <%= label_tag :fats, 'Fats' %>
        <%= text_field_tag :fats, '0' %>
      </section>

      <section>
        <%= label_tag :cals, 'Calories' %>
        <%= text_field_tag :cals, '0' %>
      </section>

    </div>

    <br>
    <br>

    <div style="text-align: center">
      <span class="enter_btn">
        <%= submit_tag 'Submit', id: 'submit', class: "btn btn-primary btn-lg" %>
      </span>
      <span class="enter_btn">
        <%= submit_tag 'Delete last entry', id: 'delete_record', class: "btn btn-primary btn-lg" %>
      </span>
    </div>
    <!--<%= submit_tag 'DB reset', id: 'db_reset' %>-->

<% end %>