<div class="page-header">
  <h1> Ingredients list</h1>
</div>

<div style="text-align: left; ">
  <% for each in Ingredient.all.order('name ASC') %>
      <%= each.name %>: <span style="color: red">proteins - <%= each.prots %>g</span>, <span style="color: dodgerblue">carbs - <%= each.carbs %>g</span>, <span style="color: orange">fats - <%= each.fats.round 0 %>g</span>, <span style="color: slateblue">sugar - <%= each.sugar %>g</span>
      <hr>
  <% end %>
</div>