<h1 style="text-align: center">Daily food intake planner</h1>

<% if not flash['error'].nil? %>

<div class="alert alert-danger"><%= flash['error'] %></div>
<% end %>

<%= form_for daily_food_planner_plan_path, method: 'POST' do %>
    <div id="user_input">

      <%= label_tag 'Enter your body weight in pounds:' %>
      <%= text_field_tag :weight, @weight, placeholder: 'i.e. 185' %>
      <br>
      <%= label_tag 'How many grams of proteins per kilo' %>
      <%= text_field_tag :target_prots, @target_prots, placeholder: 'i.e. 2' %>
      <br>
      <%= label_tag 'How many grams of carbs per kilo' %>
      <%= text_field_tag :target_carbs, @target_carbs, placeholder: 'i.e 5' %>
      <br>
      <%= label_tag 'How many grams of fats per kilo' %>
      <%= text_field_tag :target_fats, @target_fats, placeholder: 'i.e. 1' %>

    </div>

    <br>
    <div>
      <h2 style="text-align: center"> Select ingredients you will use today</h2>

      <div id="ingredient_selection">

        <% ingredients = Ingredient.all.order('name ASC') %>

        <section class="ingredient">
          <select name="ingredient0">
            <option value="0">Select an ingredient</option>

            <% for each in ingredients %>

                <% if @name0 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)</option>
                <% end %>

            <% end %>
          </select>

          <%= text_field_tag :quantity0, @quantity0, placeholder: 'Enter quantity' %>
        </section>

        <section class="ingredient">
          <select name="ingredient1">
            <option value="0">Select an ingredient</option>

            <% for each in ingredients %>

                <% if @name1 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)</option>
                <% end %>
            <% end %>

          </select>

          <%= text_field_tag :quantity1, @quantity1, placeholder: 'Enter quantity' %>
        </section>

        <section class="ingredient">
          <select name="ingredient2">
            <option value="0">Select an ingredient</option>

            <% for each in ingredients %>

                <% if @name2 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)</option>
                <% end %>
            <% end %>

          </select>

          <%= text_field_tag :quantity2, @quantity2, placeholder: 'Enter quantity' %>
        </section>

        <section class="ingredient">
          <select name="ingredient3">
            <option value="0">Select an ingredient</option>

            <% for each in ingredients %>

                <% if @name3 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)</option>
                <% end %>
            <% end %>

          </select>

          <%= text_field_tag :quantity3, @quantity3, placeholder: 'Enter quantity' %>
        </section>

        <section class="ingredient">
          <select name="ingredient4">
            <option value="0">Select an ingredient</option>

            <% for each in ingredients %>
                <% if @name4 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)</option>
                <% end %>
            <% end %>

          </select>

          <%= text_field_tag :quantity4, @quantity4, placeholder: 'Enter quantity' %>
        </section>

        <section class="ingredient">
          <select name="ingredient5">
            <option value="0">Select an ingredient</option>

            <% for each in ingredients %>
                <% if @name5 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)</option>
                <% end %>
            <% end %>

          </select>

          <%= text_field_tag :quantity5, @quantity5, placeholder: 'Enter quantity' %>
        </section>

      </div>
    </div>
    <br>

    <div style="text-align: center">
      <%= submit_tag 'Submit', class: "btn btn-primary btn-lg" %>
    </div>
<% end %>

<% unless flash['error'] %>

    <% unless @totals.nil? or @totals.empty? %>

        <% unless @meals.empty? %>
            <div>
              <hr>
              <% if @totals[:prots] < @target[:prots] %>
                  <h2 style="color: wheat">Eat more of animal derived Proteins! </h2>
                  <h4>Great sources are Beef, Chicken Breast, Tuna, Turkey, Salmon, Eggs </h4>
              <% elsif @totals[:prots] > @target[:prots] %>
                  <h2 style="color: #730E15">Too much Proteins!</h2>
              <% end %>

              <hr>

              <% if @totals[:carbs] < @target[:carbs] %>
                  <h2 style="color: wheat">Eat more Carbs with low glycemic index!</h2>
                  <h4>Great sources are Buckwheat, Basmati Rice, Old Fashioned Oats, Pasta, Beans</h4>
              <% elsif @totals[:carbs] > @target[:carbs] %>
                  <h2 style="color: red">Too much Carbs!</h2>
              <% end %>

              <hr>

              <% if @totals[:fats] < @target[:fats]/2 %>
                  <h2 style="color: wheat">Eat more of healthy Fats!</h2>
                  <h4>Great sources are Avocado, Nuts, Olive Oil, Peanut Butter</h4>
              <% elsif @totals[:fats] > @target[:fats] %>
                  <h2 style="color: #730E15">Too much Fats!</h2>
              <% end %>
              <hr>
            </div>
        <% end %>

        <div>

          <% unless @meals.empty? %>
              <section>
                <h2>Ingredients:</h2>
                <% for meal in @meals %>
                    <p><%= meal[0] %> - <%= meal[1] %><%= meal[2] %></p>
                <% end %>
              </section>

              <section>
                <h2>Nutrient totals:</h2>

                <p> Proteins - <%= @totals[:prots] %>g</p>

                <p> Carbs - <%= @totals[:carbs] %>g</p>

                <p> Fats - <%= @totals[:fats] %>g</p>
              </section>

          <% end %>

          <% unless @target.nil? %>
              <h2>Target intake for you:</h2>

              <p> Proteins - <%= @target[:prots] %>g</p>

              <p> Carbs - <%= @target[:carbs] %>g</p>

              <p> Fats - <%= @target[:fats] %>g</p>

          <% end %>

        </div>
    <% end %>
<% end %>