<h1>Daily intake planner</h1>

<%= flash['error'] %>

<%= form_for daily_food_planner_plan_path, method: 'POST' do %>
    <div class="row">

      <div>
        <%= label_tag :weight, 'Enter your weight (kgs or lbs)' %>
        <%= text_field_tag :weight, @weight, placeholder: 'i.e. 88 or 193' %>
      </div>

      <div>
        Select your body type:
      </div>
      <div class="cc-selector">

        <% if @body_type == 'gain' %>
            <input checked id="gain" type="radio" name="body_type" value="gain"/>
            <label class="drinkcard-cc gain" for="gain"></label>

        <% else %>
            <input id="gain" type="radio" name="body_type" value="gain"/>
            <label class="drinkcard-cc gain" for="gain"></label>
        <% end %>

        <% if @body_type == 'keep' %>
            <input checked id="keep" type="radio" name="body_type" value="keep"/>
            <label class="drinkcard-cc keep" for="keep"></label>
        <% else %>
            <input id="keep" type="radio" name="body_type" value="keep"/>
            <label class="drinkcard-cc keep" for="keep"></label>
        <% end %>

        <% if @body_type == 'loose' %>
            <input checked id="loose" type="radio" name="body_type" value="loose"/>
            <label class="drinkcard-cc loose" for="loose"></label>
        <% else %>
            <input id="loose" type="radio" name="body_type" value="loose"/>
            <label class="drinkcard-cc loose" for="loose"></label>
        <% end %>

      </div>
    </div>

    <div class="row">

      <% ingredients = Ingredient.all.order('name ASC') %>

      <section>
        <select name="ingredient0">
          <option value="0">Please select an ingredient</option>

          <% for each in ingredients %>

              <% if @name0 == each.name %>
                  <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)
                  </option>
              <% else %>
                  <option value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)</option>
              <% end %>

          <% end %>
        </select>

        <%= text_field_tag :quantity0, @quantity0, placeholder: 'Enter quantity' %>
      </section>

      <section>
        <select name="ingredient1">
          <option value="0">Please select an ingredient</option>

          <% for each in ingredients %>

              <% if @name1 == each.name %>
                  <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)
                  </option>
              <% else %>
                  <option value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)</option>
              <% end %>
          <% end %>

        </select>

        <%= text_field_tag :quantity1, @quantity1, placeholder: 'Enter quantity' %>
      </section>

      <section>
        <select name="ingredient2">
          <option value="0">Please select an ingredient</option>

          <% for each in ingredients %>

              <% if @name2 == each.name %>
                  <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)
                  </option>
              <% else %>
                  <option value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)</option>
              <% end %>
          <% end %>

        </select>

        <%= text_field_tag :quantity2, @quantity2, placeholder: 'Enter quantity' %>
      </section>

      <section>
        <select name="ingredient3">
          <option value="0">Please select an ingredient</option>

          <% for each in ingredients %>

              <% if @name3 == each.name %>
                  <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)
                  </option>
              <% else %>
                  <option value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)</option>
              <% end %>
          <% end %>

        </select>

        <%= text_field_tag :quantity3, @quantity3, placeholder: 'Enter quantity' %>
      </section>

      <section>
        <select name="ingredient4">
          <option value="0">Please select an ingredient</option>

          <% for each in ingredients %>
              <% if @name4 == each.name %>
                  <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)
                  </option>
              <% else %>
                  <option value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)</option>
              <% end %>
          <% end %>

        </select>

        <%= text_field_tag :quantity4, @quantity4, placeholder: 'Enter quantity' %>
      </section>

      <section>
        <select name="ingredient5">
          <option value="0">Please select an ingredient</option>

          <% for each in ingredients %>
              <% if @name5 == each.name %>
                  <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)
                  </option>
              <% else %>
                  <option value="<%= each.name %>"><%= each.name %> (<%= each.serving_type %>)</option>
              <% end %>
          <% end %>

        </select>

        <%= text_field_tag :quantity5, @quantity5, placeholder: 'Enter quantity' %>
      </section>

    </div>

    <br>

    <%= submit_tag 'Submit', id: 'submit' %>
<% end %>


<% unless flash['error'] %>


    <% unless @totals.nil? or @totals.empty? %>

        <div>
          <% if @totals[:prots] < @target[:prots] %>
              <h1>Eat more Meat!</h1>
          <% elsif @totals[:prots] > @target[:prots] %>
              <h1 style="color: #730E15">Too much Meat!</h1>
          <% end %>

          <% if @totals[:carbs] < @target[:carbs] %>
              <section><h1>Eat more Carbs!</h1></section>
          <% elsif @totals[:carbs] > @target[:carbs] %>
              <h1 style="color: #730E15">Too much Carbs!</h1>
          <% end %>

          <% if @totals[:fats] < @target[:fats]/2 %>
              <section><h1>Eat more Fats!</h1></section>
          <% elsif @totals[:fats] > @target[:fats] %>
              <h1 style="color: #730E15">Too much Fats!</h1>
          <% end %>
        </div>

        <div class="row">
          <section>
            <h2>Ingredients:</h2>
            <% for meal in @meals %>
                <p><%= meal[0] %> - <%= meal[1] %><%= meal[2] %></p>
            <% end %>
          </section>

          <section>
            <h2>Nutrient totals:</h2>

            <p> Proteins - <%= @totals[:prots] %>g</p>

            <p> Carbs - <%= @totals[:carbs] %>g</p>

            <p> Fats - <%= @totals[:fats] %>g</p>
          </section>


          <% unless @target.nil? %>
              <section>
                <h2>Target intake for you:</h2>

                <p> Proteins - <%= @target[:prots] %>g</p>

                <p> Carbs - <%= @target[:carbs] %>g</p>

                <p> Fats - <%= @target[:fats]/2 %>g to <%= @target[:fats] %>g</p>

              </section>
          <% end %>

        </div>

    <% end %>

<% end %>

