<div class="page-header">
  <h1> Daily food intake planner</h1>
</div>

<% if not flash[:errors].blank? %>
    <% for error in flash[:errors] %>
        <div class="alert alert-danger"><%= error %></div>
    <% end %>
<% end %>

<% if not flash[:message].blank? %>
    <div class="alert alert-success"><%= flash[:message] %></div>
<% end %>


<%= form_for daily_food_planner_plan_path, method: 'POST' do %>
    <div id="user_input">

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Enter your weight, lbs:</span>
        <input type="number" name="weight" value="<%= @weight %>" class="form-control" placeholder="i.e. 185" aria-describedby="basic-addon1">
      </div>

      <br>

      <div class="panel panel-primary" style="text-align: center">
        <div class="panel-heading"> Enter nutrient targets</div>

        <div class="panel-body" style="text-align: left">

          <div>
            <span style="font-size: 1.2em">
             Suggested presets:
            </span>

            <span>
              <select id="target_presets" name="target_presets">

                <% if @target_presets %>
                    <option value="0">Choose ...</option>
                    <% if @target_presets == 'cutting' %>
                        <option value="cutting" selected>cutting</option>
                        <option value="maintain">maintain</option>
                        <option value="bulking">bulking</option>
                    <% elsif @target_presets == 'maintain' %>
                        <option value="cutting">cutting</option>
                        <option value="maintain" selected>maintain</option>
                        <option value="bulking">bulking</option>
                    <% else %>
                        <option value="cutting">cutting</option>
                        <option value="maintain">maintain</option>
                        <option value="bulking" selected>bulking</option>
                    <% end %>
                <% else %>
                    <option value="0">Choose ...</option>
                    <option value="cutting">cutting</option>
                    <option value="maintain">maintain</option>
                    <option value="bulking">bulking</option>
                <% end %>

              </select>
            </span>
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Proteins, grams/kilo</span>
            <input type="number" name="target_prots_per_kilo" value="<%= @target_prots_per_kilo %>" class="form-control" placeholder="Usually 1 to 3" aria-describedby="basic-addon1" min="0.5" max="5" step="0.5">
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Carbs, grams/kilo</span>
            <input type="number" name="target_carbs_per_kilo" value="<%= @target_carbs_per_kilo %>" class="form-control" placeholder="Usually 1 to 7" aria-describedby="basic-addon1" min="0" max="7" step="0.5">
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Fats, grams/kilo</span>
            <input type="number" name="target_fats_per_kilo" value="<%= @target_fats_per_kilo %>" class="form-control" placeholder="Usually 0.5 to 1" aria-describedby="basic-addon1" min="0" max="2" step="0.1">
          </div>
        </div>
      </div>
    </div>

    <div style="padding-top: 1em">
      <div class="panel panel-primary">
        <div class="panel-heading">Select ingredients you will use today for cooking</div>

        <div class="panel-body" style="text-align: left">

          Protein sources
          <% for i in 0..2 %>

              <% if @quantities[i].nil? then
                   select_css = ' hidden';
                 else
                   select_css = ''
                 end %>
              <% if i == 0 then
                   select_css = ''
                 end %>

              <div style="text-decoration: none">
                <select name="ingredient<%= i %>" id="prots_select<%= i %>" class="select<%= select_css %> prots">
                  <option value="0">Choose ...</option>

                  <% for ingredient in @ingredients[0] %>
                      <% if ingredient.name == @ingredient_name[i] %>
                          <option value="<%= ingredient.name %>" selected>
                            <%= ingredient.name %> (<%= ingredient.units %>)
                          </option>
                      <% else %>
                          <option value="<%= ingredient.name %>">
                            <%= ingredient.name %> (<%= ingredient.units %>)
                          </option>
                      <% end %>
                  <% end %>
                </select>

                <input type="number" class="quantity<%= select_css %>" id="prots_quantity_input<%= i %>" name="quantity<%= i %>" value="<%= @quantities[i] %>" placeholder="Enter quantity" min="0.1" max="3000" step="any">

              </div>
          <% end %>

          <div>
            <input type="button" id="add_protein_button" class="btn btn-default" value="+">
          </div>

          <br>

          Carbs sources
          <% for i in 3..5 %>

              <% if @quantities[i].nil? then
                   select_css = ' hidden';
                 else
                   select_css = ''
                 end %>
              <% if i == 3 then
                   select_css = ''
                 end %>

              <div style="text-decoration: none">
                <select id="carbs_select<%= i-3 %>" name="ingredient<%= i %>" class="select<%= select_css %> carbs">
                  <option value="0">Choose ...</option>

                  <% for ingredient in @ingredients[1] %>
                      <% if ingredient.name == @ingredient_name[i] %>
                          <option value="<%= ingredient.name %>" selected>
                            <%= ingredient.name %> (<%= ingredient.units %>)
                          </option>
                      <% else %>
                          <option value="<%= ingredient.name %>">
                            <%= ingredient.name %> (<%= ingredient.units %>)
                          </option>
                      <% end %>
                  <% end %>
                </select>

                <input type="number" name="quantity<%= i %>" class="quantity<%= select_css %>" id="carbs_quantity_input<%= i-3 %>" value="<%= @quantities[i] %>" placeholder="Enter quantity" min="0.1" max="3000" step="any">

              </div>
          <% end %>

          <div>
            <input type="button" id="add_carbs_button" class="btn btn-default" value="+">
          </div>

          <br>

          Fats sources
          <% for i in 6..8 %>
              <% if @quantities[i].nil? then
                   select_css = ' hidden';
                 else
                   select_css = ''
                 end %>
              <% if i == 6 then
                   select_css = ''
                 end %>

              <div style="text-decoration: none">
                <select id="fats_select<%= i-6 %>" name="ingredient<%= i %>" class="select<%= select_css %> fats">
                  <option value="0">Choose ...</option>

                  <% for ingredient in @ingredients[2] %>
                      <% if ingredient.name == @ingredient_name[i] %>
                          <option value="<%= ingredient.name %>" selected>
                            <%= ingredient.name %> (<%= ingredient.units %>)
                          </option>
                      <% else %>
                          <option value="<%= ingredient.name %>">
                            <%= ingredient.name %> (<%= ingredient.units %>)
                          </option>
                      <% end %>
                  <% end %>
                </select>

                <input type="number" name="quantity<%= i %>" class="quantity<%= select_css %>" id="fats_quantity_input<%= i-6 %>" value="<%= @quantities[i] %>" placeholder="Enter quantity" min="0.1" max="3000" step="any">

              </div>
          <% end %>

          <div>
            <input type="button" id="add_fats_button" class="btn btn-default" value="+">
          </div>

        </div>
      </div>
    </div>

    <%= submit_tag 'Submit', class: "btn btn-primary btn-lg" %>
<% end %>

<% if flash[:errors].blank? and @totals and @target %>
    <%
       overdose_progress_bar_css = 'progress-bar-striped active'
       overdose_label_css = 'color: red; font-weight: bold; font-size: larger'
    %>

    <div>
      <h2>Totals vs Targets:</h2>

      <% percent_prots = @totals[:prots]*100/@target[:prots] %>
      <% if percent_prots > 100
           prots_pb_css = overdose_progress_bar_css
           prots_pb_label_css = overdose_label_css
         end %>

      <div class="progress">
        <div class="progress-bar progress-bar-info <%= prots_pb_css %>" role="progressbar" style="width: <%= percent_prots%>% ; min-width: 2em">
          <span style="<%= prots_pb_label_css %>"> <%= percent_prots&.round(0) %>%</span>
        </div>
      </div>

      <% percent_carbs = @totals[:carbs]*100/@target[:carbs] %>
      <% if percent_carbs > 100
           carbs_pb_css = overdose_progress_bar_css
           carbs_pb_label_css = overdose_label_css
         end %>

      <div class="progress">
        <div class="progress-bar progress-bar-success <%= carbs_pb_css %> " role="progressbar" style="width: <%= percent_carbs%>%; min-width: 2em">
          <span style="<%= carbs_pb_label_css %>"> <%= percent_carbs&.round(0) %>%</span>
        </div>
      </div>

      <% percent_fats = @totals[:fats]*100/@target[:fats] %>
      <% if percent_fats > 100
           fats_pb_css = overdose_progress_bar_css
           fats_pb_label_css = overdose_label_css
         end %>

      <div class="progress">
        <div class="progress-bar progress-bar-warning <%= fats_pb_css %> " role="progressbar" style="width: <%= percent_fats%>%; min-width: 2em">
          <span style="<%= fats_pb_label_css %>"> <%= percent_fats&.round(0) %>%</span>
        </div>
      </div>

    </div>
<% end %>

<script>
  $(function () {

    function getLiveCarbs(ingredients) {
      var proteinIngredients = getSelectValues('prots' , getNumberOfSelectsInGroup('prots'));
      var totalCurrentCarbs = 0;

      if (proteinIngredients.length > 0) {
        for (var n = 0; n < proteinIngredients.length; n++) {
          var proteinIngredientQuantity = parseFloat($("input#prots_quantity_input" + n).val());
          for (var i = 0; i < ingredients.length; i++) {
            if (proteinIngredients[n] == ingredients[i].name) {
              var carbsPerServing = ingredients[i].carbs;
              var servingSize = ingredients[i].serving_size;
              totalCurrentCarbs = totalCurrentCarbs + (proteinIngredientQuantity / servingSize) * carbsPerServing;
              break;
            }
          }
        }
        return totalCurrentCarbs;
      }
      return 0;
    }

    function getLiveFats(ingredients) {
      var proteinIngredients = getSelectValues('prots' , getNumberOfSelectsInGroup('prots'));
      var totalCurrentFats = 0;

      if (proteinIngredients.length > 0) {
        for (var n = 0; n < proteinIngredients.length; n++) {
          var proteinIngredientQuantity = parseFloat($("input#prots_quantity_input" + n).val());
          for (var i = 0; i < ingredients.length; i++) {
            if (proteinIngredients[n] == ingredients[i].name) {
               var fatsPerServing = ingredients[i].fats;
               var servingSize = ingredients[i].serving_size;
              totalCurrentFats = totalCurrentFats + (proteinIngredientQuantity / servingSize) * fatsPerServing;
              break;
            }
          }
        }
        return totalCurrentFats;
      }
      return 0;
    }

    function readProtsTarget() {
      return parseFloat($("input[name ='target_prots_per_kilo']").val());
    }

    function readCarbsTarget() {
      return parseFloat($("input[name ='target_carbs_per_kilo']").val())
    }

    function readFatsTarget() {
      return parseFloat($("input[name ='target_fats_per_kilo']").val());
    }

    function readWeight() {
      return parseFloat($("input[name ='weight']").val()) / 2.20462;
    }

    function calcTargetProts() {
      return readProtsTarget() * readWeight();
    }

    function calcTargetCarbs() {
      return readCarbsTarget() * readWeight();
    }

    function calcTargetFats() {
      return readFatsTarget() * readWeight();
    }

    function calcCarbsStillAllowed(ingredients) {
      return calcTargetCarbs() - getLiveCarbs(ingredients);
    }

    function calcFatsStillAllowed(ingredients) {
      return calcTargetFats() - getLiveFats(ingredients);
    }

    function getIngredientType(id) {
      if (id.indexOf("prots") >= 0) {
        return 'prots';
      }
      if (id.indexOf("carbs") >= 0) {
        return 'carbs';
      }
      if (id.indexOf("fats") >= 0) {
        return 'fats';
      }
    }

    function getIngredientInfo(ingredientName, ingredients) {
      var ingredientInfo = [];

      for (i = 0; i < ingredients.length; i++) {
        if (ingredientName == ingredients[i].name) {
          ingredientInfo.push(ingredients[i].prots);
          ingredientInfo.push(ingredients[i].carbs);
          ingredientInfo.push(ingredients[i].fats);
          ingredientInfo.push(ingredients[i].serving_size);
          return ingredientInfo;
        }
      }
    }

    function calcQuantity(ingredientType, ingredientName, numberOfSelectedIngredients, ingredients) {
      var ingredientInfo = getIngredientInfo(ingredientName, ingredients);
      var divider = 1 / numberOfSelectedIngredients;
      var nutrientTarget;

      if (ingredientType == 'prots') {
        nutrientTarget = calcTargetProts() * divider;
        return (nutrientTarget / ingredientInfo[0]) * ingredientInfo[3];
      }
      if (ingredientType == 'carbs') {
        nutrientTarget = calcCarbsStillAllowed(ingredients) * divider;
        return (nutrientTarget / ingredientInfo[1]) * ingredientInfo[3];
      }
      if (ingredientType == 'fats') {
        nutrientTarget =  calcFatsStillAllowed(ingredients) * divider;
        return (nutrientTarget / ingredientInfo[2]) * ingredientInfo[3];
      }
    }

    function getNumberOfSelectsInGroup(ingredientType) {
      if (ingredientType == 'prots') {
        return $("select[class='select prots']").length;
      }
      if (ingredientType == 'carbs') {
        return $("select[class='select carbs']").length;
      }
      if (ingredientType == 'fats') {
        return $("select[class='select fats']").length;
      }
    }

    function getSelectValues(ingredientType, count){
      var arrayOfNames = [];
      for (var i = 0; i < count; i++) {
        var idName = ingredientType + '_select' + i;
        var name = $("select[id="+ idName +"]").val();
        arrayOfNames.push(name);
      }
      return arrayOfNames;
    }

    $('select#target_presets').change(function () {
      var phase = $('select#target_presets').val();

      if (phase == 'cutting') {
        $("input[name = 'target_prots_per_kilo']").val(2);
        $("input[name = 'target_carbs_per_kilo']").val(2);
        $("input[name = 'target_fats_per_kilo']").val(0.5);
      }

      if (phase == 'maintain') {
        $("input[name = 'target_prots_per_kilo']").val(2);
        $("input[name = 'target_carbs_per_kilo']").val(4);
        $("input[name = 'target_fats_per_kilo']").val(0.5);
      }

      if (phase == 'bulking') {
        $("input[name = 'target_prots_per_kilo']").val(2);
        $("input[name = 'target_carbs_per_kilo']").val(5);
        $("input[name = 'target_fats_per_kilo']").val(1);
      }

    });

    $('select').change(function () {
      var ingredients = gon.ingredients;
      var id = this.id;
      var ingredientType = getIngredientType(id);
      var selectIndex = id.substr(id.length - 1);
      var selectValue = this.value;
      var selectCount = getNumberOfSelectsInGroup(ingredientType);
      var nutrientQuantity;

      if (selectCount < 2) {
        nutrientQuantity = calcQuantity(ingredientType, selectValue, 1, ingredients);
        $("input[id = " + ingredientType + "_quantity_input" + selectIndex + "]").val(nutrientQuantity.toFixed(2));
      } else {
        var selectValues = getSelectValues(ingredientType, selectCount);
        for (var i = 0; i < selectCount; i++) {
          nutrientQuantity = calcQuantity(ingredientType, selectValues[i], selectCount, ingredients);
          $("input[id = " + ingredientType + "_quantity_input" + i + "]").val(nutrientQuantity.toFixed(2));
        }
      }
    });

    $("input[id='add_protein_button']").on('click', function () {

      var visible_selects_count = $("select[class='select prots']").length;
      var index_of_the_last_visible_field = visible_selects_count - 1;
      var last_quantity_name = 'prots_quantity_input' + index_of_the_last_visible_field.toString();
      var last_quantity_value = $("input[id=" + last_quantity_name + "]").val();

      if (last_quantity_value != '') {
        var select_name = 'prots_select' + visible_selects_count.toString();
        var input_name = 'prots_quantity_input' + visible_selects_count.toString();

        $("select[id=" + select_name + "]").removeClass('hidden');
        $("input[id=" + input_name + "]").removeClass('hidden');
      }
    });

    $("input[id='add_carbs_button']").on('click', function () {

      var visible_selects_count = $("select[class='select carbs']").length;
      var index_of_the_last_visible_field = visible_selects_count - 1;
      var last_quantity_name = 'carbs_quantity_input' + index_of_the_last_visible_field.toString();
      var last_quantity_value = $("input[id=" + last_quantity_name + "]").val();

      if (last_quantity_value != '') {
        var select_name = 'carbs_select' + visible_selects_count.toString();
        var input_name = 'carbs_quantity_input' + visible_selects_count.toString();

        $("select[id=" + select_name + "]").removeClass('hidden');
        $("input[id=" + input_name + "]").removeClass('hidden');
      }
    });

    $("input[id='add_fats_button']").on('click', function () {

      var visible_selects_count = $("select[class='select fats']").length;
      var index_of_the_last_visible_field = visible_selects_count - 1;
      var last_quantity_name = 'fatss_quantity_input' + index_of_the_last_visible_field.toString();
      var last_quantity_value = $("input[id=" + last_quantity_name + "]").val();

      if (last_quantity_value != '') {
        var select_name = 'fats_select' + visible_selects_count.toString();
        var input_name = 'fats_quantity_input' + visible_selects_count.toString();

        $("select[id=" + select_name + "]").removeClass('hidden');
        $("input[id=" + input_name + "]").removeClass('hidden');
      }
    });
  });
</script>