<div class="page-header">
  <h1> Daily food intake planner</h1>
</div>

<% if not flash['error'].blank? %>
    <div class="alert alert-danger"><%= flash['error'] %></div>
<% end %>

<%= form_for daily_food_planner_plan_path, method: 'POST' do %>
    <div id="user_input">

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Enter your weight, lbs:</span>
        <input type="number" name="weight" value="<%= @weight %>" class="form-control" placeholder="i.e. 185" aria-describedby="basic-addon1">
      </div>

      <br>

      <div class="panel panel-primary" style="text-align: center">
        <div class="panel-heading"> Enter nutrient target amounts</div>

        <div class="panel-body" style="text-align: left">

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Proteins, grams/kilo</span>
            <input type="number" name="target_prots" value="<%= @target_prots_per_kilo %>" class="form-control" placeholder="1 - 3" aria-describedby="basic-addon1">
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Carbs, grams/kilo</span>
            <input type="number" name="target_carbs" value="<%= @target_carbs_per_kilo %>" class="form-control" placeholder="1 - 7" aria-describedby="basic-addon1">
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Fats, grams/kilo</span>
            <input type="number" name="target_fats" value="<%= @target_fats_per_kilo %>" class="form-control" placeholder="0.5 - 1" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
    </div>

    <div style="padding-top: 1em">
      <div class="panel panel-primary">
        <div class="panel-heading"> Select ingredients you will use today for cooking</div>

        <div class="panel-body" style="text-align: left">

          <% ingredients = Ingredient.all.order('name ASC') %>

          <select name="ingredient0" class="select">
            <option value="0" >Ingredient</option>

            <% for each in ingredients %>

                <% if @name0 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.units %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.units %>)</option>
                <% end %>
            <% end %>
          </select>
          <input type="number" class="quantity" name="quantity0" value="<%= @quantity0 %>" placeholder="Enter quantity">

          <select name="ingredient1" class="select hidden">
            <option value="0" >Ingredient</option>

            <% for each in ingredients %>

                <% if @name1 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.units %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.units %>)</option>
                <% end %>
            <% end %>
          </select>
          <input type="number" name="quantity1" class="quantity hidden" value="<%= @quantity1 %>" placeholder="Enter quantity">

          <select name="ingredient2" class="select hidden">
            <option value="0" >Ingredient</option>

            <% for each in ingredients %>

                <% if @name2 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.units %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.units %>)</option>
                <% end %>
            <% end %>
          </select>
          <input type="number" name="quantity2" class="quantity hidden" value="<%= @quantity2 %>" placeholder="Enter quantity">

          <select name="ingredient3" class="select hidden">
            <option value="0" >Ingredient</option>

            <% for each in ingredients %>

                <% if @name3 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.units %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.units %>)</option>
                <% end %>
            <% end %>
          </select>
          <input type="number" name="quantity3" class="quantity hidden" value="<%= @quantity3 %>" placeholder="Enter quantity">

          <select name="ingredient4" class="select hidden">
            <option value="0" >Ingredient</option>

            <% for each in ingredients %>
                <% if @name4 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.units %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.units %>)</option>
                <% end %>
            <% end %>
          </select>
          <input type="number" name="quantity4" class="quantity hidden" value="<%= @quantity4 %>" placeholder="Enter quantity">

          <select name="ingredient5" class="select hidden">
            <option value="0" >Ingredient</option>

            <% for each in ingredients %>
                <% if @name5 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.units %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.units %>)</option>
                <% end %>
            <% end %>
          </select>
          <input type="number" name="quantity5" class="quantity hidden" value="<%= @quantity5 %>" placeholder="Enter quantity">

          <select name="ingredient6" class="select hidden">
            <option value="0" >Ingredient</option>

            <% for each in ingredients %>
                <% if @name6 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.units %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.units %>)</option>
                <% end %>
            <% end %>
          </select>
          <input type="number" name="quantity6" class="quantity hidden" value="<%= @quantity6 %>" placeholder="Enter quantity">

          <select name="ingredient7" class="select hidden">
            <option value="0" >Ingredient</option>

            <% for each in ingredients %>
                <% if @name7 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.units %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.units %>)</option>
                <% end %>
            <% end %>
          </select>
          <input type="number" name="quantity7" class="quantity hidden" value="<%= @quantity7 %>" placeholder="Enter quantity">

          <select name="ingredient8" class="select hidden">
            <option value="0" >Ingredient</option>

            <% for each in ingredients %>
                <% if @name8 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.units %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.units %>)</option>
                <% end %>
            <% end %>
          </select>
          <input type="number"  name="quantity8" class="quantity hidden" value="<%= @quantity8 %>" placeholder="Enter quantity">

          <select name="ingredient9" class="select hidden">
            <option value="0" >Ingredient</option>

            <% for each in ingredients %>
                <% if @name9 == each.name %>
                    <option selected="selected" value="<%= each.name %>"><%= each.name %> (<%= each.units %>)
                    </option>
                <% else %>
                    <option value="<%= each.name %>"><%= each.name %> (<%= each.units %>)</option>
                <% end %>
            <% end %>
          </select>
          <input type="number" name="quantity9" class="quantity hidden" value="<%= @quantity9 %>" placeholder="Enter quantity">

          <div>
            <input type="button" id="add_ingredient_button" class="btn btn-default btn-lg" name="add_ingredient_button" value="+">
          </div>

        </div>

      </div>
    </div>

    <%= submit_tag 'Submit', class: "btn btn-primary btn-lg" %>
<% end %>

<% unless flash['error'] %>
    <% unless @totals.nil? or @totals.empty? %>
        <% unless @meals.empty? %>
            <div>
              <hr>

              <% if @totals[:prots] < @target[:prots] * 0.95 %>
                  <div class="alert alert-info">
                    <h2>Eat more of animal derived Proteins! </h2>
                    <h4>Great sources are Beef, Chicken Breast, Tuna, Turkey, Salmon, Eggs </h4>
                  </div>
              <% elsif @totals[:prots] > @target[:prots] * 1.05 %>
                  <div class="alert alert-danger">
                    <h2>Too much Protein!</h2>
                  </div>
              <% else %>
                  <div class="alert alert-success">
                    <h2>Protein are looking good!</h2>
                  </div>
              <% end %>

              <hr>

              <% if @totals[:carbs] < @target[:carbs] * 0.95 %>
                  <div class="alert alert-info">
                    <h2>Eat more Carbs with low glycemic index!</h2>
                    <h4>Great sources are Buckwheat, Basmati Rice, Old Fashioned Oats, Pasta, Beans</h4>
                  </div>
              <% elsif @totals[:carbs] > @target[:carbs] * 1.05 %>
                  <div class="alert alert-danger">
                    <h2>Too much Carbs!</h2>
                  </div>
              <% else %>
                  <div class="alert alert-success">
                    <h2>Carbs are looking good!</h2>
                  </div>
              <% end %>

              <hr>

              <% if @totals[:fats] < @target[:fats] * 0.6 %>
                  <div class="alert alert-info">
                    <h2>Eat more of healthy Fats!</h2>
                    <h4>Great sources are Avocado, Nuts, Olive Oil, Peanut Butter</h4>
                  </div>
              <% elsif @totals[:fats] > @target[:fats] %>
                  <div class="alert alert-danger">
                    <h2>Too much Fats!</h2>
                  </div>
              <% else %>
                  <div class="alert alert-success">
                    <h2>Fats are looking good!</h2>
                  </div>
              <% end %>
              <hr>
            </div>
        <% end %>

        <div>
          <% unless @meals.empty? %>
              <section>
                <h2>Ingredients:</h2>
                <% for meal in @meals %>
                    <p><%= meal[0] %> - <%= meal[1] %><%= meal[2] %></p>
                <% end %>
              </section>

              <section>
                <h2>Nutrient totals:</h2>

                <p> Proteins - <%= @totals[:prots].round(0) %>g</p>

                <p> Carbs - <%= @totals[:carbs].round(0) %>g</p>

                <p> Fats - <%= @totals[:fats].round(0) %>g</p>
              </section>
          <% end %>

          <% unless @target.nil? %>
              <h2>Target intake for you:</h2>

              <p> Proteins - <%= @target[:prots].round(0) %>g</p>

              <p> Carbs - <%= @target[:carbs].round(0) %>g</p>

              <p> Fats - <%= @target[:fats].round(0) %>g</p>
          <% end %>
        </div>
    <% end %>
<% end %>

<script>
  $(function () {

    if ($("input[name='quantity0']").val() != "") {
      $("select[name = 'ingredient0']").removeClass('hidden');
      $("input[name='quantity0']").removeClass('hidden');
    }

    if ($("input[name='quantity1']").val() != "") {
      $("select[name = 'ingredient1']").removeClass('hidden');
      $("input[name='quantity1']").removeClass('hidden');
    }

    if ($("input[name='quantity2']").val() != "") {
      $("select[name = 'ingredient2']").removeClass('hidden');
      $("input[name='quantity2']").removeClass('hidden');
    }

    if ($("input[name='quantity3']").val() != "") {
      $("select[name = 'ingredient3']").removeClass('hidden');
      $("input[name='quantity3']").removeClass('hidden');
    }

    if ($("input[name='quantity4']").val() != "") {
      $("select[name = 'ingredient4']").removeClass('hidden');
      $("input[name='quantity4']").removeClass('hidden');
    }

    if ($("input[name='quantity5']").val() != "") {
      $("select[name = 'ingredient5']").removeClass('hidden');
      $("input[name='quantity5']").removeClass('hidden');
    }
    if ($("input[name='quantity6']").val() != "") {
      $("select[name = 'ingredient6']").removeClass('hidden');
      $("input[name='quantity6']").removeClass('hidden');
    }
    if ($("input[name='quantity7']").val() != "") {
      $("select[name = 'ingredient7']").removeClass('hidden');
      $("input[name='quantity7']").removeClass('hidden');
    }
    if ($("input[name='quantity8']").val() != "") {
      $("select[name = 'ingredient8']").removeClass('hidden');
      $("input[name='quantity8']").removeClass('hidden');
    }
    if ($("input[name='quantity9']").val() != "") {
      $("select[name = 'ingredient9']").removeClass('hidden');
      $("input[name='quantity9']").removeClass('hidden');
    }

    $("input[name='add_ingredient_button']").on('click', function () {
      var visible_selects_count = $("select[class='select']").length;
      var last_quantity_name = 'quantity' + (visible_selects_count - 1).toString();
      var last_quantity_value = $("input[name=" + last_quantity_name + "]").val();

      if (last_quantity_value != '') {
        var select_name = 'ingredient' + visible_selects_count.toString();
        var input_name = 'quantity' + visible_selects_count.toString();

        $("select[name=" + select_name + "]").removeClass('hidden');
        $("input[name=" + input_name + "]").removeClass('hidden');
      }
    })
  });
</script>