<!DOCTYPE html>
<html>
<head>
  <title>Bodybuilding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Sidebar -->
<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <%= link_to 'Add an ingredient' ,daily_food_planner_enter_path%>
        <%= link_to 'Plan your daily intake' ,daily_food_planner_plan_path%>
        <%= link_to 'List of ingredients' ,daily_food_planner_list_path%>
      </ul>
    </nav>
  </div>
</section>

<!-- Wrapper -->
<div id="wrapper">
  <section id="three" class="wrapper style1 fade-up">
    <%= yield %>
  </section>
</div>


<!-- Footer -->
<!--<footer id="footer" class="wrapper style1-alt">-->
  <!--<div class="inner">-->
    <!--<ul class="menu">-->
      <!--<li>&copy; Bobybuilding. All rights reserved.</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</footer>-->

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>